
html, body {
  /* background-color: #ffeead; */
  margin: 10px;
}

* {
  box-sizing: border-box;
}

:root {
  --path-length: 0px;
}

.myDiv {
  /* height: var(--path-length); */
  background-color: red;
  height: var(--path-length);
}

.squiggle {
  stroke-dasharray: var(--path-length);
  /* stroke-dashoffset: var(--path-length); */
  animation: writeIt 1000ms 1;
}

@keyframes writeIt {
  from {
    stroke-dashoffset: var(--path-length)
  }
  to {
    stroke-dashoffset: 0;
  }
}
