
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="basic.css">
  <title>03-writing-animation</title>
</head>
<body>

    <svg  width="263px" height="40px" viewBox="0 0 263 40">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path class="squiggle" stroke="#979797" d="M0.97265625,39.71875 C15.3633723,22.742095 45.5237697,-2.39896527 69.375,17.2109375 C73.4403398,20.5533613 75.4102274,26.0396445 79.5625,29.2734375 C83.3350377,32.2114927 104.210953,37.791592 109.808594,36.5390625 C134.065205,31.1113967 135.355487,10.0490814 168.085938,2.1640625 C177.636659,-0.13678022 186.854034,2.84023137 194.292969,8.77734375 C196.450842,10.4995706 196.467414,14.3087307 198.859375,15.6875 C201.874949,17.4257313 205.826028,16.3786454 209.167969,17.3515625 C234.613931,24.7594774 249.861499,36.8346915 261.835938,4.54296875" ></path>
        </g>
    </svg>

    <div class="myDiv">asdfasd</div>

  <script src="index.js" charset="utf-8"></script>
</body>
</html>
