
html, body {
  /* background-color: #ffeead; */
  margin: 10px;
}

* {
  box-sizing: border-box;
}
svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
.square {
  fill: hsl(28, 73%, 59%);
}

.squareActive {
    animation: fatSquare 1s 1;
} */

@keyframes fatSquare {
  from {
    stroke-width: 5;
    fill-opacity: 0.25;
  }
  to {
    stroke-width: 50;
    fill-opacity: 1;
  }
}

.square {
  stroke-dasharray: 1300;
  stroke-dashoffset: -1300;
  animation: drawSquare 1s 10;
  transform-origin: 50% 50%;
}

.hexagon {
  stroke-dasharray: 860;
  stroke-dashoffset: -860;
  animation: drawHex 1s 10;
  transform-origin: 50% 50%;
}

@keyframes drawHex {
  from {
    stroke-dashoffset: -860;
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}

@keyframes drawSquare {
  from {
    stroke-dashoffset: -1300;
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(720deg);
  }
}
